body {
  margin: 0;
  background: linear-gradient(135deg, #74ebd5, #ACB6E5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Verdana, sans-serif;
}

canvas {
  background: #87ceeb;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}
